.hero-section {
    background-image: linear-gradient(180deg, var(--dark-blue) 0%, var(--lighter-dark-blue) 100%);
    height: 100vh;
    position: relative;
    overflow: hidden;
    &__content {
        bottom: 25%;
        color: var(--lighter-gray);
        float: left;
        left: 0;
        margin: 0 auto;
        max-width: 90%;
        position: absolute;
        right: 0;
        text-align: center;
        width: 580px;
    }
    &--cycling {
        height: 20rem;
        width: 20rem;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-72%, -90%);
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: all .4s ease;
        border-radius: 50%;

        &--hovered {
            opacity: 1;
            animation: floatCycle 3s ease-in-out infinite;
        }
    }
    &--fishing {
        height: 20rem;
        width: 20rem;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-30%, -10%);
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: all .4s ease;
        border-radius: 50%;

        &--hovered {
            opacity: 1;
            animation: floatFish 3s ease-in-out infinite;
        }
    }
    &__block {
        display: block;
        top: 50%;
        color: var(--lighter-gray);
        float: left;
        left: 0;
        margin: 0 auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        width: 55rem;
        z-index: 5;
    }
    &__primary-title {
        color: var(--lighter-gray);
        font-family: var(--bold-font);
        font-size: 3.5rem;
        margin: 0;
        overflow: hidden;
        span {
            display: block;
        }
    }
    &__secondary-title {
        color: var(--lighter-gray);
        font-size: 2.2rem;
        font-weight: normal;
        line-height: 1.3;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &--cycling {
            color: var(--green);
            transition: all .4s ease;

            &:hover {
                color: var(--orange);
            }
        }

        &--fishing {
            color: var(--green);
            transition: all .4s ease;

            &:hover {
                color: var(--orange);
            }
        }
    }
    &__call-to-action {
        margin-top: 4rem;
    }
    &__icon {
        height: 72px;
        margin: 0 auto;
        margin-bottom: 30px;
        overflow: hidden;
        width: 72px;
        img {
            width: 100%;
        }
    }
}

.cycle-circle {
    z-index: 0;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-72%, -90%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='5' stroke-dasharray='100' stroke-dashoffset='86' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px;
    animation: cycleCircle 9s ease-in-out infinite;
}

.fish-circle {
    z-index: 0;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-30%, -10%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='5' stroke-dasharray='100' stroke-dashoffset='86' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px;
    animation: fishCircle 7s ease-in-out infinite;
}