.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--lighter-gray);

    & h1 {
        font-size: 5rem;
        text-transform: uppercase;
        font-family: 'Boing', sans-serif;
        font-weight: bold;
        color: var(--lighter-gray);
    }

    & h2 {
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: 'Graphik', sans-serif;
        font-weight: normal;
        margin-top: 1rem;
        color: var(--light-blue);
    }
}

.absolute {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--lighter-dark-blue);
    z-index: 1;
}