:root {
    --text-color: #576f7f;
    --dark-blue: #011b33;
    --gray: #aaa;
    --green: #3bb75e;
    --light-blue: #09a5db;
    --lighter-blue: #c4f0ff;
    --light-gray: #828282;
    --lighter-gray: #f3f5f8;
    --orange: #ffaa22;
    --lighter-dark-blue: #151526;
    --stack-gray: #727377;
    --stack-lighter-gray: #9fa0a4;

    --button-default-radius: .3rem;
    --button-height: 4rem;
    --button-height-lg: 5rem;
    --button-height-sm: 3rem;

    --bold-font: "Boing", sans-serif;
    --regular-font: "Graphik", sans-serif;
}